<!doctype html>
<html>
<style>
table, th, td {
  border: 1px solid #d0d0d0;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
th {
  text-align: left;
}
</style>

    <body>
        <table border = 1>
            {% for t in threads %}
                <tr>
                    <th>Title</th>
                    <th>{{ t }}</th>
                </tr>
                {% set posts = threads[t] %}
                {% for p in posts %}
                    <tr>
                        <td>{{ p['tag'] }}</td>
                        <td>{{ p['post'] }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </table>
   </body>
</html>